<!-- 
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a class="navbar-brand logo-container" routerLink="/adminBoard">
      <img src="assets/img/logo.jpg" alt="Logo">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav me-auto p-4 p-lg-0">

        <a routerLink="/listp" class="nav-item nav-link">Patients</a>
        <a routerLink="/listm" class="nav-item nav-link">Medecins</a>
        <a routerLink="/listu" class="nav-item nav-link">Users</a>
        <a routerLink="/listc" class="nav-item nav-link">Cliniques</a>
  
      
        
      </div>
      <button routerLink="" class="button">Logout<i class="fa fa-arrow-right ms-3"></i></button>
    </div>
  </nav> -->
  <header style="padding-bottom: 3px; ">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand logo-container" routerLink="/adminBoard">
      <img src="assets/img/logo.jpg" alt="Logo" width="100px" >
    </a>
    <h1 class="logo me-auto">DocDash</h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        
        
      
        <li><a routerLink="/listu" class="nav-item nav-link">Users</a></li>
        <li> <a routerLink="/listp" class="nav-item nav-link">Patients</a></li>
        <li><a routerLink="/listc" class="nav-item nav-link">Cliniques</a></li>
        <li><a routerLink="/listm" class="nav-item nav-link">Medecins</a></li>
 
          
   
     
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="" class="appointment-btn scrollto" style="background-color: red;"><span class="d-none d-md-inline">Logout</span></a>

  </div>
</header>