<app-header></app-header>

<main id="main">
  <section id="hero" class="d-flex align-items-top">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h2 class="mb-4">Ajouter un Médecin</h2>

          <form (ngSubmit)="addMedecin()" #medecinForm="ngForm">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomMed">Nom:</label>
                  <input type="text" id="nomMed" name="nom_medecin" [(ngModel)]="medecin.nomMed" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="cinMed">CIN:</label>
                  <input type="number" id="cinMed" name="cin_medecin" [(ngModel)]="medecin.cinMed" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="prixConsultation">Prix de Consultation:</label>
                  <input type="number" id="prixConsultation" name="prix_consultation" [(ngModel)]="medecin.prix" class="form-control" required>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="telMed">Téléphone:</label>
                  <input type="tel" id="telMed" name="telMed" [(ngModel)]="medecin.telMed" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="specialite">Spécialité:</label>
                  <select id="specialite" name="specialite" [(ngModel)]="medecin.specialite" class="form-control" required>
                    <option value="CARDIOLOGIE">Cardiologie</option>
                    <option value="DERMATOLOGIE">Dermatologie</option>
                    <option value="PSYCHIATRIE">Psychiatrie</option>
                    <option value="ORTHOPEDIE">Orthopédie</option>
                    <option value="RADIOLOGIE">Radiologie</option>
                  </select>
                </div>

               
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter Médecin</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>