<app-header></app-header>
<div class="container2">
 
  <div class="container">
    <div class="dashboard-item">
      <h2>Nombre de médecins</h2>
      <p>10</p>
    </div>
    <div class="dashboard-item">
      <h2>Nombre de patients</h2>
      <p>150</p>
    </div>
    <div class="dashboard-item">
      <h2>Nombre de rendez-vous</h2>
      <p>50</p>
    </div>

  </div>

  <div class="calendar">
    <h2>Calendrier</h2>
    <table>
        <caption>May 2024</caption>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        <tr>
            <td>10 rendez-vous</td>
            <td>13 rendez-vous</td>
            <td>31 rendez-vous</td>
            <td>12 rendez-vous</td>
            <td>50 rendez-vous</td>
            <td>11 rendez-vous</td>
            <td>22 rendez-vous</td>
        </tr>
        <!-- Add more rows for the rest of the calendar -->
    </table>


 <router-outlet  ></router-outlet>

</div>

